@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
  }
  html {
    font-size: 10px;
  /*中略*/
  }
img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*文字の色*/
body {
    font-family: "Zen Old Mincho", serif;
    line-height: 1.6;
    color: #333;
    height: 100%;
    
}

/* その場で */
.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
  opacity:0;
  font-size: large;
  color: rgb(62, 183, 213);
  text-align: center;
  }
  
  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }



/*背景色*/
body#about {
  background: rgb(255, 255, 255);
}

#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body,
  main {
    position: relative;
    height: 100%;
  }
  
  header {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 100;
  }
  
  footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

/* Header　上の横長い所の色 */
header {
    background: rgb(255, 255, 255);
    position: relative;
}

.home header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

#navBtn {
  display: none;
}

/*ハンバーガーメニューの枠線*/
.open {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(60, 163, 181);
  border-radius: 2px;
}
/*humburger button*/

/*ハンバーガーメニューの横線*/
.open::before,
.open::after {
  content: "";
}

.open span,
.open::before,
.open::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 30%;
  width: 40%;
  border-bottom: 2px solid rgb(89, 164, 199);
  transition: transform .5s;
}

.open::before {
  transform: translateY(-8px);
}

.open::after {
  transform: translateY(8px);
}

/*閉じる時のハンバーガーメニューの色*/
/*close button*/
#navBtn:checked + .open {
  background: rgb(6, 98, 115);
}

#navBtn:checked + .open span {
  transform: scaleX(0);
}

#navBtn:checked + .open::before {
  transform: rotate(45deg);
}

#navBtn:checked + .open::after {
  transform: rotate(-45deg);
}
/*ハンバーガーメニューの横線*/
#navBtn:checked + .open span,
#navBtn:checked + .open::before,
#navBtn:checked + .open::after {
  border-bottom-color: rgb(255, 255, 255);
}

/*ハンバーガーメニュー開いた時の背景色*/
nav {
  /*display: none;*/
  height: 100vh;
  width: 300px;
  position: absolute;
  top: 0;
  right: -300px;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform .5s;

}

#navBtn:checked ~ nav {
  display: block;
  transform: translateX(-300px);
}


header h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.home header h1 {
  padding: 0;
}


nav ul {
    list-style: none;
    padding-bottom: 1rem;
    text-align: center;
    /*display: flex;*/
    /*justify-content: space-evenly;*/
}



nav ul li {
    /*display: inline-block;*/
    margin: 0 10px;
    padding: 10px 0;
    margin-bottom: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: rgb(62, 183, 213);
    transition-duration: .5s;
}

nav ul li a:hover {
    color: rgb(234, 184, 36);
}


/* Main */
main {
    padding: 1rem;
    max-width: 2200px;
    margin: 0 auto;
    flex-grow: 1;
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    width: 100%;
    
}

.home main {
  padding: 0;
}


/*背景の色*/
section {
    background: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
}
/*
.sec01 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .sec02 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .sec03 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
*/
/*h2 {
    color: #00BFFF;
    font-weight: normal;
    border-left: 10px #00BFFF solid;
    padding-left: .25rem;
    margin-bottom: .5rem;
}*/

.container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    flex-direction: row-reverse;
}

/* .column-img {
    flex: 1;
}

.column-text {
    flex: 2;
}
＊/
/* Footer */
footer {
    background: #333;
    color: #FFF;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

  /* .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  } */
  
  /*タブレット用*/
@media all and (min-width: 600px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }

  /*コンピュータ用*/
@media all and (min-width: 1025px) {
 header h1 {
   font-size: 4rem;
 }

  nav {
    display: block;
    height: auto;
    width: 100%;
    position: static;
    background-color: transparent;
    
  }
  
  nav ul li {
    display: inline-block;
    padding: 0;
  }


  nav ul li a {
    color: rgb(115, 162, 191);
  }

  nav ul li {
    display: inline-block;
  }

  #navBtn,
  .open {
    display: none;
  }

    header h1 {
        font-size: 4rem;
      }
    
    main {
      grid-template-columns: 1fr 1fr;
    }
  
    .sec01 {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }
  
    .sec02 {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  
    .sec03 {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  